@page "/agendar"
@using AgendamentosWEB.Requests
@using System.ComponentModel.DataAnnotations
@inject AgendamentosAPI agendamentosAPI
@inject AulasAPI aulasAPI
@inject ProfessoresAPI professoresAPI
@inject EquipamentosAPI equipamentosAPI
@inject NavigationManager Navigation
@inject LoginAPI loginAPI
@inject ISnackbar Snackbar

<AuthorizeView>
    <Authorized Context="authContext">
        <h3>Cadastrar Agendamento</h3>

        @if (aulas == null || equipamentos == null || professorLogado == null)
        {
            <p>Carregando...</p>
        }
        else
        {
            <EditForm EditContext="@editContext" OnValidSubmit="HandleFormSubmit">
                <DataAnnotationsValidator />
                <MudGrid>
                    <MudItem xs="12" sm="7">
                        <MudCard>
                            <MudCardContent>
                                <MudSelect T="AulasResponse" Label="Escolha a aula" Required="true" @bind-Value="agendamentoModel.AulaSelecionada">
                                    @foreach (var aula in aulas)
                                    {
                                        <MudSelectItem Value="aula">@aula.Aula</MudSelectItem>
                                    }
                                </MudSelect>

                                <MudSelect T="EquipamentoResponse" Label="Escolha o equipamento" Required="true" @bind-Value="agendamentoModel.EquipamentoSelecionado">
                                    @foreach (var equipamento in equipamentos)
                                    {
                                        <MudSelectItem Value="equipamento">@equipamento.Nome</MudSelectItem>
                                    }
                                </MudSelect>

                                <MudDatePicker Label="Escolha uma data" Required="true" @bind-Date="@agendamentoModel.DataSelecionada" />
                            </MudCardContent>
                            <MudCardActions>
                                <div class="d-flex align-center justify-space-between mt-4">
                                    <MudButton Variant="Variant.Filled"
                                               Color="Color.Primary"
                                               Disabled="@(!editContext.Validate())"
                                               Class="ml-auto"
                                               @onclick="CadastrarAgendamento">
                                        Cadastrar
                                    </MudButton>
                                </div>
                            </MudCardActions>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" sm="5">
                        <MudPaper Class="pa-4 mud-height-full">
                            <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                            @if (!string.IsNullOrEmpty(apiError) || !string.IsNullOrEmpty(errorMessage))
                            {
                                <MudText Color="Color.Error">
                                    @apiError @errorMessage
                                </MudText>
                            }
                            else if (success)
                            {
                                <MudText Color="Color.Success">Success</MudText>
                            }
                            else
                            {
                                <MudText Color="@Color.Error">
                                    <ValidationSummary />
                                </MudText>
                            }

                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </EditForm>
        }
    </Authorized>
    <NotAuthorized>
        @{
            Navigation.NavigateTo("/auth/login");
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private ICollection<AulasResponse> aulas;
    private ICollection<EquipamentoResponse> equipamentos;
    private ProfessoresResponse? professorLogado;
    private AgendamentoFormModel agendamentoModel = new AgendamentoFormModel();
    private EditContext editContext;
    bool success;
    string? apiError;
    string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(agendamentoModel);
        try
        {
            var userInfo = await loginAPI.GetUserInfoAsync();
            if (userInfo != null)
            {
                var userName = userInfo.UserName;
                var professorId = await professoresAPI.GetProfessorIdByUserNameAsync(userName);
                if (professorId.HasValue)
                {
                    professorLogado = await professoresAPI.GetProfessorPorIdAsync(professorId.Value);
                }


            }
            aulas = await aulasAPI.GetAulasAsync() ?? new List<AulasResponse>();
            equipamentos = await equipamentosAPI.GetEquipamentosAsync() ?? new List<EquipamentoResponse>();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Erro ao carregar dados: {ex.Message}", Severity.Error);
        }
    }

    private async Task HandleFormSubmit()
    {
        try
        {
            var agendamento = new AgendamentoRequest(agendamentoModel.DataSelecionada.Value, agendamentoModel.AulaSelecionada.Id, agendamentoModel.EquipamentoSelecionado.Id, professorLogado.Id);

            var result = await agendamentosAPI.AddAgendamentoAsync(agendamento);

            if (result != null)
            {
                if (result.IsSuccessStatusCode)
                {
                    Snackbar.Add("Agendamento criado com sucesso!", Severity.Success);
                    agendamentoModel = new AgendamentoFormModel();
                    editContext = new EditContext(agendamentoModel);
                    success = true;
                    apiError = string.Empty;
                }
                else
                {
                    var content = await result.Content.ReadAsStringAsync();
                    errorMessage = content;
                    success = false;
                }
            }
            else
            {
                errorMessage = "A resposta do servidor está vazia.";
                success = false;
            }
        }
        catch (Exception ex)
        {
            apiError = $"Erro ao criar agendamento: {ex.Message}";
            success = false;
            Snackbar.Add(apiError, Severity.Error);
        }
    }

    private async Task CadastrarAgendamento()
    {
        if (!editContext.Validate())
        {
            Snackbar.Add("Por favor, preencha todos os campos.", Severity.Error);
            return;
        }

        await HandleFormSubmit();
    }

    public class AgendamentoFormModel
    {
        [Required(ErrorMessage = "A aula é obrigatória.")]
        public AulasResponse? AulaSelecionada { get; set; }

        [Required(ErrorMessage = "O equipamento é obrigatório.")]
        public EquipamentoResponse? EquipamentoSelecionado { get; set; }

        [Required(ErrorMessage = "A data é obrigatória.")]
        public DateTime? DataSelecionada { get; set; }
    }
}
